<div class="container">
    <h1>Lista de Productos</h1>
    <div class="col-md-8 md-8">
        <div class="product-list">
            {{#if products.length}}
                {{#each products}}
                <div class="card">
                    <div class="card-body">
                        <div class="product-card">
                            <h2 class="card-title">{{title}}</h2>
                            <h5 class="card-subtitle mb-2">Categoría: {{category}}</h5>
                            <p class="card-text">Descripción: {{description}}</p>
                            <p class="card-text">Precio: ${{price}}</p>
                            <p class="card-text">Stock: {{stock}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <h3>Aun no hay productos disponibles</h3>
            {{/if}}
        </div>
    </div>
</div>